BASE_DOMAIN="master.com"

URL_MASTER=https://base-api.${BASE_DOMAIN}/

# Данные авторизации 
# Источник: запросить у лида, хранятся в password

BASE_MASTER_V2_AUTH_LOGIN=
BASE_MASTER_V2_AUTH_PASSWORD=
